*{
    box-sizing: border-box;
}
body{
    background: url("17580.jpg") repeat-x;
    font-family: 'Raleway', sans-serif;
}
.header {
    padding: 10px;
    text-align: center;
    margin: 2px;
    left: 50%;
}
.section{
    padding: 10px;
    margin: 2px;
}
.card{
    padding: 15px 15px;
    margin: 3px;
    background-color: #ffffff;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.leftColumn{
    float: left;
    width: 30%;
    text-align: left;
}
.middleColumn{
    width: 70%;
    float: left;
    text-align: left;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .leftColumn, .middleColumn {
        width: 100%;
    }
}
.fieldset{
    margin: 3%;
    box-sizing: border-box;
}
#tableSingIn{
    width: 100%;
    padding: 15px;
}
input[type=text], input[type=password], input[type=submit], input[type=button]  {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
    text-shadow: 0 1px rgba(255,255,255,.4);
}
.fa {
    padding: 5px;
    margin: 5px;
}
#tableRates{
    width: 100%;
    padding: 15px;
    text-align: center;
}
#tableRates tr:nth-child(even){
    background-color: #f2f2f2;
}
#tableRates tr:hover {
    background-color: #ddd;
}
#tableRates td{
    border: 1px solid #ddd;
    padding: 8px;
}
.footer{
    width: 100%;
    bottom: 2%;
    position: fixed;
}
.tableSecondary{
    font-size: 12px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    position: center;
}
.img{
    border: 1px solid #ddd;
    border-radius: 50%  ;
    padding: 5px;
    width: 150px;
}
.operator{
    width: 20%;
    color: #337cac;
    margin: 2%;
    grid-gap: 2px;
    padding: 2px;
}