body{
    background-image: url("17580.jpg");
    font-family: 'Raleway', sans-serif;
}
.header {
    padding: 10px;
    text-align: center;
    left: 50%;
}
.section{
    width: 30%;
    padding: 10px;
    margin-top: 20px;
    content: "";
    display: table;
    clear: both;
}
.column{
    float: left;
    position: center;
}
.fieldset {
    border-color: cornflowerblue;
    border-radius: 15px;
}
input[type=text], input[type=password], input[type=submit] {
    width: 100%;
    padding: 8px 8px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}
.fa {
    padding: 5px;
    margin: 5px;
}
.footer{
    width: 100%;
    bottom: 2%;
    position: fixed;
}
.tableSecondary{
    font-size: 12px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    position: center;
}
.img{
    border: 1px solid #ddd;
    border-radius: 50%  ;
    padding: 5px;
    width: 150px;
}